<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Form</title>

  <link href= "{{ url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

</head>
<body>

  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Basic Action</h1>
            <br>
            <button class= "btn btn-lg btn-primary rounded-3"><a class = "text-white" href="/dashboard">DASHBOARD</a></button>
            <button class= "btn btn-lg btn-primary rounded-3"><a class = "text-white" href="/logout">LOGOUT</a></button>
            <hr>
            <h1> ADD/EDIT POSTS </h1>
              <form class="form" action='/edit/{{sno}}' method="POST">
                    <div class="form-floating">
                            <input class="form-control" id="title" name = 'title'  type="text" placeholder="Title..." value = "{{ project.title }}" data-sb-validations="required" />
                            <label for="title">Title</label>
                            <div class="invalid-feedback" data-sb-feedback="title:required">A title is required.</div>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control"  name = 'content' id="content" placeholder="Content..." style="height: 12rem" data-sb-validations="required" >{{project.content}}</textarea>
                            <label for="content">Content</label>
                            <div class="invalid-feedback" data-sb-feedback="content:required">Content is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control"  name = 'img_file' id="img_file" placeholder="Image..." data-sb-validations="required" value="{{project.img_file}}"></input>
                            <label for="image">Image file</label>
                            <div class="invalid-feedback" data-sb-feedback="image:required">An Image is required.</div>
                        </div>
                        <br />
          
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase rounded-2" id="submitButton" type="submit">Upload</button>
                    
  </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>