{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead" style = "background-image: url('{{ url_for("static",filename = "assets/img/home-bg.jpg") }}');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1> <em>Admin Panel</em></h1>
                    <span class="subheading">Manage you posts and change them</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 >Basic Actions</h1>
            <button class= "btn btn-lg btn-primary rounded-3"><a class = "text-white" href="/edit/0">ADD NEW POST</a></button>
            <button class= "btn btn-lg btn-primary rounded-3"><a class = "text-white" href="/logout">LOGOUT</a></button>
            <h1> Upload A File </h1>
            <div class="row">
                <form action = '/uploader' method = "post" enctype="multipart/form-data">
                    <input type='file' name='file1'/>
                    <br>
                    <button type='submit' class= 'd-inline btn btn-primary btn-lg rounded-3'>Submit</button>
                </form>
            </div>
            <hr class = "hr hr-blurry">
            <h1> Edit Posts </h1>
            <hr class = "hr hr-blurry">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Sno</th>
                  <th>Title</th>
                  <th>Date</th>
                  <th colspan="2">Edit</th>
                  <th>Delete</th>

                </tr>
              </thead>
              <tbody>
                {% for post in posts %}
                <tr>
                  <td>{{post.sno}}</td>
                  <td>{{post.title}}</td>
                  <td>{{post.date}}</td>
                  <td ><a href="/edit/{{post.sno}}"><button class="btn btn-outline-info rounded-2">Edit</button></a><td>
                  <td><a href="/delete/{{post.sno}}"><button class="btn btn-outline-info rounded-2">Delete</button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

